%div{"ng-app" => "CircuitRoutes"}
  .view-container
    .view-frame.animate-view{ng_view: "true"}
      / .panel.panel-warning
      /   .panel-heading
      /     %h1{ng_if: "name"} This is my view, {{name}}
      /   .panel-body
      /     %form.form-inline
      /       .form-group
      /         %input.form-control{type: "text", placeholder: "Enter your name:", ng_model: "name", autofocus: "true"}